<!DOCTYPE html>
<html>
<head>
	<title>SeeSwap</title>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1">
	<meta name="application-name" content="SeeSwap">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="stylesheet" type="text/css" href="styles/main.css">
	<link rel="stylesheet" type="text/css" href="styles/index.css">
    <link rel="icon" href="static/mobile-icon.png">
    <link rel="icon" sizes="192x192" href="static/mobile-icon-192.png">
    <link rel="apple-touch-icon" href="static/mobile-icon-apple.png"/>
</head>
<body class="dark-mode">

<header>
	<wrap>
		<div id="topleft">
			<img id="logo" src="media/seeswap-logo.png">
			<div id="brand">
				<h1>SeeSwap</h1>
				<h2>Portfolio Balancer on Harmony Network</h2>
			</div>
		</div>
		<div id="topright">
			<button id="swap-theme" onclick="swapMode()"><img id="theme-icon" src="media/daynight.png" title="Dark mode"></button>
		</div>
	</wrap>
</header>

<div id="main">
	<wrap>
		<img id="hero" src="media/hero-darkx.jpg">
		<div class="actions"><a class="action swap" href="swap">Swap Assets</a> <a class="action pool" href="pools">Pool Stakes</a></div>

		<div id="intro">
			<h1 class="title">SWAP HRC20 ASSETS</h1>
			<p>Harmony Assets are synthetic tokens used for swapping and staking in pools, they are backed by ONE, the official currency of Harmony Network. You can exchange any asset available in the pools without restrictions directly from your wallet</p>
			<div class="actions"><a class="action swap" href="swap">Swap Assets</a></div>
		</div>

		<div id="info">
			<h1 class="title">EARN POOL DIVIDENDS</h1>
			<p>Pool liquidity is important and we reward market makers with dividends for each transaction. Join our pools today and make money while your assets are secured by Harmony contracts, and leave anytime when you need your assets back</p>
			<div class="actions"><a class="action pool" href="pools">Pool Stakes</a></div>
		</div>

		<div id="final">
			<h1 class="title">DEFINE YOUR OWN STRATEGY</h1>
			<p>You can earn dividends by adding liquidity to the pools, everytime a swap is made the transaction fee goes to the stakers proportionally to their liquidity. You can also make money by taking advantage of price movements and arbritrage. You are in control of your investment at all times!</p>
		</div>
	</wrap>
</div>

<footer>
	<wrap>
		<div id="rights">
			<img id="logo-foot" src="media/seeswap-logo.png"> 
			<h1>SeeSwap</h1>
			<h2>&copy;2020</h2>
		</div>
	</wrap>
</footer>

<script>
function $(id) { return document.getElementById(id); }

function setColorTheme() {
	let mode = document.body.className;
	//$('theme-icon').src   = (mode=='dark-mode')?'media/icon-light.png':'media/icon-dark.png';
	$('theme-icon').title = (mode=='dark-mode')?'Light mode':'Dark mode'; 
}

function swapMode() {
	let mode = document.body.className;
	document.body.className = (mode=='dark-mode')?'light-mode':'dark-mode'; 
	//$('swap-theme').innerHTML = (mode=='dark-mode')?'Dark Theme':'Light Theme'; 
	$('hero').src = (mode=='dark-mode')?'media/hero-litex.jpg':'media/hero-darkx.jpg'; 
	//$('theme-icon').src = (mode=='dark-mode')?'media/icon-dark.png':'media/icon-light.png'; 
	$('theme-icon').title = (mode=='dark-mode')?'Dark mode':'Light mode'; 
}

setColorTheme();
</script>
</body>
</html>